In [26]:
import pandas as pd
import numpy as np

In [22]:
df1 = pd.read_excel('./Copy of ECOMOD_2017_1_River_Blank.xlsx', sheet_name='INPUTDATA', index_col=0)
df1.head()

          value units
param
L       50000.0     m
W          15.0     m
H           2.0     m
Q      600000.0  m続/d
u       20000.0   m/d

In [30]:
u = df1.loc['u']['value']
E = df1.loc['E']['value']

In [23]:
df2 = pd.read_excel('./Copy of ECOMOD_2017_1_River_Blank.xlsx', sheet_name='BOUNDARYCONDITIONS', index_col=0)
df2.head()

              BOD   DO  org-N  NH4-N  NO3-N
stream
upstream    10.97  9.0   0.83    0.5    0.0
downstream    NaN  NaN    NaN    NaN    NaN

In [24]:
df3 = pd.read_excel('./Copy of ECOMOD_2017_1_River_Blank.xlsx', sheet_name='FLOWINPUT', index_col=0)
df3.head()

       River  Sewage  Removal  WWTP     Downstream Units
type
Q     580000   20000      NaN   NaN  600000.000000  m続/d
BOD        1     300      NaN   NaN      10.966667  g/m3
DO         9       0      NaN   NaN       8.700000  g/m3
ORGN       0      25      NaN   NaN       0.833333  g/m3
NH4N       0      15      NaN   NaN       0.500000  g/m3

In [33]:
n=20
dx = 2500
dt = 0.05
#choosen
d = 0.1

P = (u*dx)/E
c = .4
d= c/P

In [34]:
P

500.0

In [129]:
def coeeficients(c,d):
    a = np.array([[c+(2*d),1-c-(3*d),d],
                  [c+d,    1-c-(2*d),d],
                  [c+d,    1-c-(1*d),0.0]])
    return a
a = coeeficients(c,d)
a

array([[ 0.4016,  0.5976,  0.0008],
       [ 0.4008,  0.5984,  0.0008],
       [ 0.4008,  0.5992,  0.    ]])

c38 = a[0][0]
d38 = a[0][1]
e38 = a[0][2]

In [130]:
time = np.arange(0,216,1)*dt
ns = np.arange(0, 21, 1)

In [131]:
table = np.zeros((time.shape[0], ns.shape[0]))

In [132]:
bod = df2.loc['upstream']['BOD']

In [125]:
x_0 = np.zeros(time.shape[0])
x_0[0] = bod
for i in range(1, time.shape[0]):
    x_0[i] = x_0[i-1]-(x_0[i-1]*kd*time[i])

In [158]:
table[:,0] = bod

In [159]:
table[0,1:] = 1 # background river bod

In [161]:
for i in np.arange(1, 21, 1):
    if i==1:
        table[1:,i] = (table[1:,i-1][0]*a[0]).sum() - (table[1:,i-1]*time[1:]*kd)
    elif (i>1) & (i<ns[-1]):
        table[1:,i] = (table[1:,i-1][0]*a[1]).sum() - (table[1:,i-1]*time[1:]*kd)
    elif i==ns[-1]:
        table[1:,i] = (table[1:,1-1][0]*a[2]).sum() - (table[1:,i-1]*time[1:]*kd)

In [164]:
table[:,1]

array([  1.    ,  10.8603,  10.7506,  10.6409,  10.5312,  10.4215,
        10.3118,  10.2021,  10.0924,   9.9827,   9.873 ,   9.7633,
         9.6536,   9.5439,   9.4342,   9.3245,   9.2148,   9.1051,
         8.9954,   8.8857,   8.776 ,   8.6663,   8.5566,   8.4469,
         8.3372,   8.2275,   8.1178,   8.0081,   7.8984,   7.7887,
         7.679 ,   7.5693,   7.4596,   7.3499,   7.2402,   7.1305,
         7.0208,   6.9111,   6.8014,   6.6917,   6.582 ,   6.4723,
         6.3626,   6.2529,   6.1432,   6.0335,   5.9238,   5.8141,
         5.7044,   5.5947,   5.485 ,   5.3753,   5.2656,   5.1559,
         5.0462,   4.9365,   4.8268,   4.7171,   4.6074,   4.4977,
         4.388 ,   4.2783,   4.1686,   4.0589,   3.9492,   3.8395,
         3.7298,   3.6201,   3.5104,   3.4007,   3.291 ,   3.1813,
         3.0716,   2.9619,   2.8522,   2.7425,   2.6328,   2.5231,
         2.4134,   2.3037,   2.194 ,   2.0843,   1.9746,   1.8649,
         1.7552,   1.6455,   1.5358,   1.4261,   1.3164,   1.2067,
         1.097 ,   0.9873,   0.8776,   0.7679,   0.6582,   0.5485,
         0.4388,   0.3291,   0.2194,   0.1097,   0.    ,  -0.1097,
        -0.2194,  -0.3291,  -0.4388,  -0.5485,  -0.6582,  -0.7679,
        -0.8776,  -0.9873,  -1.097 ,  -1.2067,  -1.3164,  -1.4261,
        -1.5358,  -1.6455,  -1.7552,  -1.8649,  -1.9746,  -2.0843,
        -2.194 ,  -2.3037,  -2.4134,  -2.5231,  -2.6328,  -2.7425,
        -2.8522,  -2.9619,  -3.0716,  -3.1813,  -3.291 ,  -3.4007,
        -3.5104,  -3.6201,  -3.7298,  -3.8395,  -3.9492,  -4.0589,
        -4.1686,  -4.2783,  -4.388 ,  -4.4977,  -4.6074,  -4.7171,
        -4.8268,  -4.9365,  -5.0462,  -5.1559,  -5.2656,  -5.3753,
        -5.485 ,  -5.5947,  -5.7044,  -5.8141,  -5.9238,  -6.0335,
        -6.1432,  -6.2529,  -6.3626,  -6.4723,  -6.582 ,  -6.6917,
        -6.8014,  -6.9111,  -7.0208,  -7.1305,  -7.2402,  -7.3499,
        -7.4596,  -7.5693,  -7.679 ,  -7.7887,  -7.8984,  -8.0081,
        -8.1178,  -8.2275,  -8.3372,  -8.4469,  -8.5566,  -8.6663,
        -8.776 ,  -8.8857,  -8.9954,  -9.1051,  -9.2148,  -9.3245,
        -9.4342,  -9.5439,  -9.6536,  -9.7633,  -9.873 ,  -9.9827,
       -10.0924, -10.2021, -10.3118, -10.4215, -10.5312, -10.6409,
       -10.7506, -10.8603, -10.97  , -11.0797, -11.1894, -11.2991,
       -11.4088, -11.5185, -11.6282, -11.7379, -11.8476, -11.9573,
       -12.067 , -12.1767, -12.2864, -12.3961, -12.5058, -12.6155])

In [155]:
table[:,1-1][0]*a[0]

array([ 4.405552,  6.555672,  0.008776])

In [149]:
a[0]

array([ 0.4016,  0.5976,  0.0008])

In [128]:
ns

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [75]:
t=0.06

In [81]:
bod = df2.loc['upstream']['BOD']
kd = df1.loc['KD']['value']
def BOD(bod, kd, t):
    b = (c38*bod) + \
    (d38*bod) + \
    (e38*bod) - \
    (t*bod*kd)
    return b

In [83]:
BOD(bod,kd, t)

10.83836

In [68]:
df2.loc['upstream']['BOD']

10.970000000000001

In [17]:
df.loc['L']['value']

50000.0

In [ ]:
pd.read_csv()